.header-panel {
    -fx-background-color: #232730;
}

/* Cambia el color de los botones de minimizar, maximizar y cerrar */
.header-panel .container .window-button {
    -fx-background-color: transparent;
}

/* Cambia el color del texto de los botones de minimizar, maximizar y cerrar */
.header-panel .container .window-button .label {
    -fx-text-fill: black;
}